[Desktop Entry]
Name=RakuOS Welcome
Comment=Welcome to RakuOS Linux
Exec=/usr/bin/rakuos-welcome
Icon=rakuos-logo
Terminal=false
Type=Application
Categories=System;
StartupWMClass=org.rakuos.Welcome
NoDisplay=true
